@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.head {
    width: 100%;
    height: 100vh;
    background-image: url('../image/pexels-daniel-jurin-1835712.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;


}

.navigation_div {
    background: rgba(3, 3, 3, 0.404);
    overflow: hidden;
    height: 100vh;


}

.navigation {
    background-color: transparent;
    text-transform: uppercase;

}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 30px;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
}

.nav_ul {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 30%;


}

.item_links {
    color: white;
    margin-inline: 30px;

}

.item_links::after {
    content: '';
    width: 0%;
    background-color: white;
    height: 2px;
    display: block;
    transition: all 300ms ease-in-out;

}

.item_links:hover::after {
    width: 100%;
    color: white;
}

.item_links:hover {
    color: white;
}

.logo:hover {
    color: white;
}

.quote {
    position: absolute;
    z-index: 100;
    color: white;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
    top: 25%;
    margin-inline: 32%;

}


.quote>p>span {
    color: rgb(219, 218, 218);
    font-family: 'Water Brush', cursive;
    font-size: 100px;
    font-weight: 400;


}

.quote>p {
    font-size: 40px;
    font-family: 'Edu TAS Beginner', cursive;
    color: rgb(219, 218, 218);
}

.expolorebtn {
    position: absolute;
    top: 75%;
    /* margin-inline: 45%; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;



}

.expolorebtn>button {
    color: white;
    border-color: white;
    border-radius: 0;
    padding-block: 10px;
    padding-inline: 20px;
    transition: all 300ms ease-in-out;
    border-width: 1px;

}

.expolorebtn>button:hover {
    background-color: transparent;
    color: white;
    border-color: white;
    transform: translateY(-20px);

}

.second_page {
    width: 100%;
    height: 100vh;
    background: rgb(190, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;




}

.cards {
    width: 90%;
    height: 90vh;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.package {
    width: 48%;
    height: 85vh;
    border: white solid 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    margin-top: 10px;


}

.pimage {
    width: 90%;
    height: 300px;
}


@media (max-width: 900px) {
    .quote {
        top: 30%;
        margin-inline: 23%;


    }

    .quote>p>span {
        font-size: 50px;
    }

    .quote>p {
        font-size: 20px;
    }

   
}


/* lkjlkj */
.location {
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}

.locationhead {
    text-align: center;
    font-size: 30px;
    font-weight: 700;


}

.locationimage {
    position: relative;
    z-index: 9;
    transition: all 300ms ease-in-out;
}

.limage {
    margin: 18px;

    width: 30vw;
    height: 30vh;
    float: left;



}
@media (max-width: 900px){
    .limage {
        width: 43vw;
        height: 25vh;
        margin: 10px;

    }


}
.locationimage:hover {
    transform: translateY(-10px);
}

.about {
    width: 100%;
    height: 100vh;
    background-image: url('../image/foooter.jpg');


}

.about_container>h2 {
    font-size: 35px;
    padding-block: 40px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(217, 231, 248);
}
@media (max-width: 900px) {
    .about_container>h2 {
        font-size: 25px;
        padding-block: 50px;
        font-weight: 600;
       
}}

.about_container>p {
    margin-top: 50px;
    text-align: justify;
    word-spacing: 4px;
    line-height: 30px;
    color: rgb(51, 50, 50);
    font-weight: 500;
}
@media (max-width: 900px){
    .about_container>p {
        margin-top: 0px;
        margin-inline: 10px;
        font-size: 14px;
        
        word-spacing: 3px;
        line-height: 25px;
       
    }

}

/* kjhkjhj */
.footer {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: relative;
}

.footerend {
    width: 100%;
    height: 300px;
    background-color: #cbf7f1;
    position: absolute;
    bottom: 0;



}

.footericons {
    width: 30px;
    position: absolute;
    bottom: 5px;

}


.copyright {
    left: 5px;
}

.gmailicon {
    right: 5px;

}

.instagram {
    right: 45px;
}

.twitter {
    right: 85px;
}

.facebook {
    right: 125px;
}

.ullinks {
    display: inline;
    position: absolute;
}

.linksone {
    top: 60px;
    right: 550px;
}

.linkstwo {
    top: 60px;
    right: 250px;
}

.ullinks li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.downarrow {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    border: 2px solid white;
    padding: 20px 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.connect {
    position: absolute;
    z-index: 1000;
    color: white;
    font-weight: 600;
    font-size: 70px;
    top: 36%;
    left: 10%;
    text-align: center;
    text-transform: uppercase;


}

.footercontent {
    margin: 0 40px;
    position: absolute;
    top: 60px;
    text-align: justify;




}

.footerheader {
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
}
@media (max-width: 500px) {
    .footerheader {
        font-size: 30px;
        padding: 5px;
        font-weight: 500;
    }
}

.footerdesc {
    font-size: 18px;
    padding: 10px;
    letter-spacing: 1, 5px;
    word-spacing: 4px;
}
@media (max-width: 500px) {
    .footerdesc {
        font-size: 14px;
        padding: 5px;
        letter-spacing: 1, 3px;
        word-spacing: 2px;
    }
}

.logo_footercoffee {
    width: 95px;
    height: 95px;
    margin-top: 59px;
    margin-left: 99px;

}
@media (max-width: 900px) {
    .logo_footercoffee {
        width: 40px;
        height: 40px;
        margin-left:20px;
       

    }
    .linksone{
        top: 60px;
        right: 200px;
    }
    .linkstwo {
        top: 60px;
        right: 60px;
    }

    
}


@media (min-width: 600px) and (max-width: 900px) {
    .limage {
        width: 40vw;
        
        margin: 5px 5px 5px 15px;
        text-align: center;
    }

}
@media (max-width: 900px){
    .nav_ul{
        margin-left: 0;

    }
}